<table border="1" class="dataframe table table-striped table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Team</th>
      <th>GP</th>
      <th>MPG</th>
      <th>FGM</th>
      <th>FGA</th>
      <th>FG%</th>
      <th>3PM</th>
      <th>3PA</th>
      <th>3P%</th>
      <th>FTM</th>
      <th>FTA</th>
      <th>FT%</th>
      <th>TOV</th>
      <th>PF</th>
      <th>ORB</th>
      <th>DRB</th>
      <th>RPG</th>
      <th>APG</th>
      <th>SPG</th>
      <th>BPG</th>
      <th>PPG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Trae Young</td>
      <td>ATL</td>
      <td>16</td>
      <td>37.7</td>
      <td>9.4</td>
      <td>22.4</td>
      <td>0.418</td>
      <td>2.8</td>
      <td>9.0</td>
      <td>0.312</td>
      <td>7.2</td>
      <td>8.4</td>
      <td>0.866</td>
      <td>4.0</td>
      <td>2.2</td>
      <td>0.4</td>
      <td>2.4</td>
      <td>2.8</td>
      <td>9.5</td>
      <td>1.2</td>
      <td>0.0</td>
      <td>28.8</td>
    </tr>
    <tr>
      <td>Bogdan Bogdanovic</td>
      <td>ATL</td>
      <td>18</td>
      <td>33.2</td>
      <td>5.4</td>
      <td>13.8</td>
      <td>0.390</td>
      <td>2.6</td>
      <td>7.9</td>
      <td>0.329</td>
      <td>0.7</td>
      <td>0.9</td>
      <td>0.706</td>
      <td>1.5</td>
      <td>2.8</td>
      <td>0.6</td>
      <td>3.6</td>
      <td>4.2</td>
      <td>2.9</td>
      <td>1.6</td>
      <td>0.3</td>
      <td>14.1</td>
    </tr>
    <tr>
      <td>John Collins</td>
      <td>ATL</td>
      <td>18</td>
      <td>32.0</td>
      <td>5.6</td>
      <td>10.1</td>
      <td>0.549</td>
      <td>1.1</td>
      <td>3.1</td>
      <td>0.357</td>
      <td>1.7</td>
      <td>2.0</td>
      <td>0.833</td>
      <td>1.3</td>
      <td>3.3</td>
      <td>2.0</td>
      <td>6.7</td>
      <td>8.7</td>
      <td>0.9</td>
      <td>0.4</td>
      <td>0.6</td>
      <td>13.9</td>
    </tr>
    <tr>
      <td>Danilo Gallinari</td>
      <td>ATL</td>
      <td>18</td>
      <td>24.6</td>
      <td>4.1</td>
      <td>9.7</td>
      <td>0.425</td>
      <td>1.9</td>
      <td>4.7</td>
      <td>0.405</td>
      <td>2.7</td>
      <td>2.9</td>
      <td>0.942</td>
      <td>0.8</td>
      <td>2.6</td>
      <td>0.4</td>
      <td>3.4</td>
      <td>3.9</td>
      <td>0.8</td>
      <td>0.3</td>
      <td>0.2</td>
      <td>12.8</td>
    </tr>
    <tr>
      <td>Cam Reddish</td>
      <td>ATL</td>
      <td>4</td>
      <td>23.0</td>
      <td>4.8</td>
      <td>9.0</td>
      <td>0.528</td>
      <td>2.2</td>
      <td>3.5</td>
      <td>0.643</td>
      <td>1.0</td>
      <td>1.2</td>
      <td>0.800</td>
      <td>1.2</td>
      <td>2.8</td>
      <td>0.2</td>
      <td>3.2</td>
      <td>3.5</td>
      <td>1.8</td>
      <td>1.5</td>
      <td>0.5</td>
      <td>12.8</td>
    </tr>
    <tr>
      <td>Kevin Huerter</td>
      <td>ATL</td>
      <td>18</td>
      <td>31.0</td>
      <td>4.3</td>
      <td>10.0</td>
      <td>0.428</td>
      <td>1.8</td>
      <td>5.3</td>
      <td>0.347</td>
      <td>0.7</td>
      <td>0.9</td>
      <td>0.706</td>
      <td>1.1</td>
      <td>2.7</td>
      <td>0.6</td>
      <td>3.2</td>
      <td>3.8</td>
      <td>2.8</td>
      <td>0.8</td>
      <td>0.9</td>
      <td>11.1</td>
    </tr>
    <tr>
      <td>De'Andre Hunter</td>
      <td>ATL</td>
      <td>5</td>
      <td>30.3</td>
      <td>3.6</td>
      <td>9.0</td>
      <td>0.400</td>
      <td>1.2</td>
      <td>3.2</td>
      <td>0.375</td>
      <td>2.4</td>
      <td>3.2</td>
      <td>0.750</td>
      <td>1.4</td>
      <td>2.2</td>
      <td>0.4</td>
      <td>3.6</td>
      <td>4.0</td>
      <td>0.6</td>
      <td>0.2</td>
      <td>0.6</td>
      <td>10.8</td>
    </tr>
    <tr>
      <td>Clint Capela</td>
      <td>ATL</td>
      <td>18</td>
      <td>31.6</td>
      <td>4.6</td>
      <td>7.6</td>
      <td>0.603</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.000</td>
      <td>0.9</td>
      <td>2.2</td>
      <td>0.436</td>
      <td>1.0</td>
      <td>2.6</td>
      <td>3.4</td>
      <td>7.8</td>
      <td>11.2</td>
      <td>0.9</td>
      <td>0.7</td>
      <td>1.1</td>
      <td>10.1</td>
    </tr>
    <tr>
      <td>Lou Williams</td>
      <td>ATL</td>
      <td>18</td>
      <td>15.4</td>
      <td>2.8</td>
      <td>6.1</td>
      <td>0.455</td>
      <td>0.7</td>
      <td>1.7</td>
      <td>0.433</td>
      <td>1.4</td>
      <td>1.5</td>
      <td>0.963</td>
      <td>1.2</td>
      <td>0.9</td>
      <td>0.1</td>
      <td>1.3</td>
      <td>1.4</td>
      <td>2.2</td>
      <td>0.7</td>
      <td>0.1</td>
      <td>7.7</td>
    </tr>
  </tbody>
</table>