{% extends "layout.html" %} {% block main %}
<form action="/compare" method="POST">
  <label for="players">Choose a Team from 2021 Playoffs</label>
  <select id="firstPlayer" name="firstPlayer">
    <option value="" name="disabled" disabled selected></option>
    {% for player in players %}
    <option value="{{ player }}">{{ player }}</option>
    {% endfor %}
  </select>

  <label for="Players">Choose another Player from 2021 Playoffs</label>
  <select id="players" name="secondPlayer">
    <option value="" name="disabled" disabled selected></option>
    {% for player in players %}
    <option value="{{ player }}">{{ player }}</option>
    {% endfor %}
  </select>

  <button name="submit" type="submit" class="btn btn-primary botão">
    Search
  </button>
</form>
<div>{% include file ignore missing %}</div>
{% endblock %}
