<table border="1" class="dataframe table table-striped table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Team</th>
      <th>GP</th>
      <th>MPG</th>
      <th>FGM</th>
      <th>FGA</th>
      <th>FG%</th>
      <th>3PM</th>
      <th>3PA</th>
      <th>3P%</th>
      <th>FTM</th>
      <th>FTA</th>
      <th>FT%</th>
      <th>TOV</th>
      <th>PF</th>
      <th>ORB</th>
      <th>DRB</th>
      <th>RPG</th>
      <th>APG</th>
      <th>SPG</th>
      <th>BPG</th>
      <th>PPG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ja Morant</td>
      <td>MEM</td>
      <td>5</td>
      <td>40.5</td>
      <td>11.0</td>
      <td>22.6</td>
      <td>0.487</td>
      <td>2.0</td>
      <td>6.2</td>
      <td>0.323</td>
      <td>6.2</td>
      <td>8.0</td>
      <td>0.775</td>
      <td>3.4</td>
      <td>1.8</td>
      <td>1.4</td>
      <td>3.4</td>
      <td>4.8</td>
      <td>8.2</td>
      <td>0.4</td>
      <td>0.0</td>
      <td>30.2</td>
    </tr>
    <tr>
      <td>Dillon Brooks</td>
      <td>MEM</td>
      <td>5</td>
      <td>34.9</td>
      <td>10.0</td>
      <td>19.4</td>
      <td>0.515</td>
      <td>1.6</td>
      <td>4.0</td>
      <td>0.400</td>
      <td>4.2</td>
      <td>5.2</td>
      <td>0.808</td>
      <td>1.8</td>
      <td>3.4</td>
      <td>1.0</td>
      <td>3.2</td>
      <td>4.2</td>
      <td>2.2</td>
      <td>1.4</td>
      <td>0.4</td>
      <td>25.8</td>
    </tr>
    <tr>
      <td>Jonas Valanciunas</td>
      <td>MEM</td>
      <td>5</td>
      <td>33.1</td>
      <td>6.6</td>
      <td>11.6</td>
      <td>0.569</td>
      <td>0.4</td>
      <td>1.6</td>
      <td>0.250</td>
      <td>1.4</td>
      <td>1.6</td>
      <td>0.875</td>
      <td>2.0</td>
      <td>3.6</td>
      <td>4.0</td>
      <td>5.8</td>
      <td>9.8</td>
      <td>2.6</td>
      <td>0.6</td>
      <td>0.6</td>
      <td>15.0</td>
    </tr>
    <tr>
      <td>Jaren Jackson, Jr.</td>
      <td>MEM</td>
      <td>5</td>
      <td>27.5</td>
      <td>4.6</td>
      <td>10.8</td>
      <td>0.426</td>
      <td>1.6</td>
      <td>5.6</td>
      <td>0.286</td>
      <td>2.8</td>
      <td>3.2</td>
      <td>0.875</td>
      <td>0.8</td>
      <td>4.2</td>
      <td>1.8</td>
      <td>3.8</td>
      <td>5.6</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>1.2</td>
      <td>13.6</td>
    </tr>
    <tr>
      <td>Kyle Anderson</td>
      <td>MEM</td>
      <td>5</td>
      <td>28.4</td>
      <td>3.6</td>
      <td>8.4</td>
      <td>0.429</td>
      <td>0.6</td>
      <td>2.4</td>
      <td>0.250</td>
      <td>0.6</td>
      <td>0.8</td>
      <td>0.750</td>
      <td>0.8</td>
      <td>1.8</td>
      <td>0.8</td>
      <td>4.2</td>
      <td>5.0</td>
      <td>3.2</td>
      <td>2.8</td>
      <td>0.0</td>
      <td>8.4</td>
    </tr>
  </tbody>
</table>