<table border="1" class="dataframe table table-striped table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Team</th>
      <th>GP</th>
      <th>MPG</th>
      <th>FGM</th>
      <th>FGA</th>
      <th>FG%</th>
      <th>3PM</th>
      <th>3PA</th>
      <th>3P%</th>
      <th>FTM</th>
      <th>FTA</th>
      <th>FT%</th>
      <th>TOV</th>
      <th>PF</th>
      <th>ORB</th>
      <th>DRB</th>
      <th>RPG</th>
      <th>APG</th>
      <th>SPG</th>
      <th>BPG</th>
      <th>PPG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Goran Dragic</td>
      <td>MIA</td>
      <td>4</td>
      <td>29.2</td>
      <td>5.8</td>
      <td>13.5</td>
      <td>0.426</td>
      <td>2.2</td>
      <td>6.5</td>
      <td>0.346</td>
      <td>2.2</td>
      <td>3.0</td>
      <td>0.750</td>
      <td>1.5</td>
      <td>2.8</td>
      <td>0.2</td>
      <td>1.5</td>
      <td>1.8</td>
      <td>2.8</td>
      <td>1.0</td>
      <td>0.5</td>
      <td>16.0</td>
    </tr>
    <tr>
      <td>Bam Adebayo</td>
      <td>MIA</td>
      <td>4</td>
      <td>34.0</td>
      <td>6.5</td>
      <td>14.2</td>
      <td>0.456</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.000</td>
      <td>2.5</td>
      <td>3.2</td>
      <td>0.769</td>
      <td>2.8</td>
      <td>2.8</td>
      <td>3.5</td>
      <td>5.8</td>
      <td>9.2</td>
      <td>4.2</td>
      <td>1.2</td>
      <td>0.5</td>
      <td>15.5</td>
    </tr>
    <tr>
      <td>Jimmy Butler</td>
      <td>MIA</td>
      <td>4</td>
      <td>38.5</td>
      <td>4.8</td>
      <td>16.0</td>
      <td>0.297</td>
      <td>1.0</td>
      <td>3.8</td>
      <td>0.267</td>
      <td>4.0</td>
      <td>5.5</td>
      <td>0.727</td>
      <td>2.2</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>6.0</td>
      <td>7.5</td>
      <td>7.0</td>
      <td>1.2</td>
      <td>0.2</td>
      <td>14.5</td>
    </tr>
    <tr>
      <td>Duncan Robinson</td>
      <td>MIA</td>
      <td>4</td>
      <td>24.9</td>
      <td>2.8</td>
      <td>7.2</td>
      <td>0.379</td>
      <td>2.5</td>
      <td>6.8</td>
      <td>0.370</td>
      <td>2.2</td>
      <td>2.5</td>
      <td>0.900</td>
      <td>1.0</td>
      <td>3.2</td>
      <td>0.0</td>
      <td>2.8</td>
      <td>2.8</td>
      <td>0.8</td>
      <td>0.8</td>
      <td>0.0</td>
      <td>10.2</td>
    </tr>
    <tr>
      <td>Kendrick Nunn</td>
      <td>MIA</td>
      <td>4</td>
      <td>23.3</td>
      <td>4.2</td>
      <td>10.8</td>
      <td>0.395</td>
      <td>1.2</td>
      <td>4.5</td>
      <td>0.278</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>1.000</td>
      <td>0.8</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>1.5</td>
      <td>0.5</td>
      <td>0.0</td>
      <td>10.2</td>
    </tr>
    <tr>
      <td>Tyler Herro</td>
      <td>MIA</td>
      <td>4</td>
      <td>23.2</td>
      <td>3.0</td>
      <td>9.5</td>
      <td>0.316</td>
      <td>1.5</td>
      <td>4.8</td>
      <td>0.316</td>
      <td>1.8</td>
      <td>1.8</td>
      <td>1.000</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>0.2</td>
      <td>3.0</td>
      <td>3.2</td>
      <td>1.8</td>
      <td>0.2</td>
      <td>0.2</td>
      <td>9.2</td>
    </tr>
  </tbody>
</table>