{% extends "layout.html" %} {% block main %}
<form action="/search" method="POST">
    <label for = 'Teams'>Choose a Team from 2021 Playoffs</label>
    <select id='teams' name='teams'>
    <option value='' name='disabled' disabled selected></option>
    {% for team in teams %}
        <option value='{{ team }}'>{{ team }}</option>
    {% endfor %}
    </select>

    <label for = 'Players'>Choose a Player from 2021 Playoffs</label>
    <select id='players' name='player'>
    <option value='' name='disabled' disabled selected></option>
    {% for player in players %}
        <option value='{{ player }}'>{{ player }}</option>
    {% endfor %}
    </select>

    <button name="submit" type="submit" class="btn btn-primary botão">
        Search
    </button>
</form>
<div>
    {% include file ignore missing %}
</div>
{% endblock %}