<table border="1" class="dataframe table table-striped table-bordered table-hover">
  <thead>
    <tr style="text-align: right;">
      <th>Player</th>
      <th>Team</th>
      <th>GP</th>
      <th>MPG</th>
      <th>FGM</th>
      <th>FGA</th>
      <th>FG%</th>
      <th>3PM</th>
      <th>3PA</th>
      <th>3P%</th>
      <th>FTM</th>
      <th>FTA</th>
      <th>FT%</th>
      <th>TOV</th>
      <th>PF</th>
      <th>ORB</th>
      <th>DRB</th>
      <th>RPG</th>
      <th>APG</th>
      <th>SPG</th>
      <th>BPG</th>
      <th>PPG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Donovan Mitchell</td>
      <td>UTA</td>
      <td>10</td>
      <td>34.6</td>
      <td>10.5</td>
      <td>23.5</td>
      <td>0.447</td>
      <td>5.0</td>
      <td>11.5</td>
      <td>0.435</td>
      <td>6.3</td>
      <td>7.6</td>
      <td>0.829</td>
      <td>2.8</td>
      <td>2.0</td>
      <td>0.3</td>
      <td>3.9</td>
      <td>4.2</td>
      <td>5.5</td>
      <td>1.1</td>
      <td>0.2</td>
      <td>32.3</td>
    </tr>
    <tr>
      <td>Bojan Bogdanovic</td>
      <td>UTA</td>
      <td>11</td>
      <td>35.5</td>
      <td>5.8</td>
      <td>12.5</td>
      <td>0.467</td>
      <td>3.2</td>
      <td>6.9</td>
      <td>0.461</td>
      <td>3.3</td>
      <td>3.7</td>
      <td>0.878</td>
      <td>2.1</td>
      <td>2.5</td>
      <td>0.5</td>
      <td>3.7</td>
      <td>4.3</td>
      <td>1.5</td>
      <td>0.9</td>
      <td>0.0</td>
      <td>18.1</td>
    </tr>
    <tr>
      <td>Jordan Clarkson</td>
      <td>UTA</td>
      <td>11</td>
      <td>27.1</td>
      <td>6.1</td>
      <td>15.0</td>
      <td>0.406</td>
      <td>3.1</td>
      <td>8.8</td>
      <td>0.351</td>
      <td>2.3</td>
      <td>2.4</td>
      <td>0.962</td>
      <td>2.1</td>
      <td>1.4</td>
      <td>0.5</td>
      <td>2.5</td>
      <td>3.1</td>
      <td>1.5</td>
      <td>0.6</td>
      <td>0.3</td>
      <td>17.5</td>
    </tr>
    <tr>
      <td>Mike Conley</td>
      <td>UTA</td>
      <td>6</td>
      <td>29.3</td>
      <td>4.8</td>
      <td>11.3</td>
      <td>0.426</td>
      <td>3.0</td>
      <td>6.2</td>
      <td>0.486</td>
      <td>2.7</td>
      <td>2.7</td>
      <td>1.000</td>
      <td>2.3</td>
      <td>2.5</td>
      <td>0.5</td>
      <td>3.0</td>
      <td>3.5</td>
      <td>7.7</td>
      <td>0.2</td>
      <td>0.5</td>
      <td>15.3</td>
    </tr>
    <tr>
      <td>Rudy Gobert</td>
      <td>UTA</td>
      <td>11</td>
      <td>34.2</td>
      <td>5.5</td>
      <td>7.4</td>
      <td>0.741</td>
      <td>0.0</td>
      <td>0.1</td>
      <td>0.000</td>
      <td>3.8</td>
      <td>6.0</td>
      <td>0.636</td>
      <td>1.5</td>
      <td>4.2</td>
      <td>3.9</td>
      <td>8.4</td>
      <td>12.3</td>
      <td>0.8</td>
      <td>0.5</td>
      <td>2.1</td>
      <td>14.7</td>
    </tr>
    <tr>
      <td>Royce O'Neale</td>
      <td>UTA</td>
      <td>11</td>
      <td>36.7</td>
      <td>3.9</td>
      <td>7.7</td>
      <td>0.506</td>
      <td>2.5</td>
      <td>5.5</td>
      <td>0.467</td>
      <td>0.9</td>
      <td>1.1</td>
      <td>0.833</td>
      <td>0.7</td>
      <td>3.7</td>
      <td>1.5</td>
      <td>5.8</td>
      <td>7.3</td>
      <td>2.1</td>
      <td>1.1</td>
      <td>0.3</td>
      <td>11.3</td>
    </tr>
    <tr>
      <td>Joe Ingles</td>
      <td>UTA</td>
      <td>11</td>
      <td>27.8</td>
      <td>3.5</td>
      <td>7.2</td>
      <td>0.494</td>
      <td>2.2</td>
      <td>5.3</td>
      <td>0.414</td>
      <td>0.9</td>
      <td>1.2</td>
      <td>0.769</td>
      <td>0.8</td>
      <td>1.7</td>
      <td>0.1</td>
      <td>3.0</td>
      <td>3.1</td>
      <td>3.5</td>
      <td>0.6</td>
      <td>0.0</td>
      <td>10.2</td>
    </tr>
  </tbody>
</table>